/* GLOBAL STYLES */
* {
  font-family: "Roboto", "Arial", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
html {
  font-size: 10px;
}
/* HEADER STYLES */
#header-container {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  width: 100%;
  z-index: 2022;
}
#start {
  margin-left: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#fa-bars {
  font-size: 25px;
  color: black;
}
#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2.5rem;
  margin-left: 25px;
}
.fa-youtube {
  color: red;
}
#logo span {
  color: #212121;
  padding-left: 2px;
  font-size: 1.8rem;

  font-family: "Oswald", sans-serif;
  font-weight: 600;
}
#center {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#search-input {
  display: flex;
}
input {
  border: 1px solid #ccc;
  border-radius: 2px 0 0 2px;
  border-right: none;
  box-shadow: inset 0 1px 2px #eee;
  font-size: 1.5rem;
  padding-left: 10px;
  height: 37px;
  width: 580px;
}
#search-icon {
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d3d3d3;
  background-color: #f0f0f0;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
}
#mic-search-icon {
  background-color: #f9f9f9;
  border-radius: 99px;
  box-sizing: border-box;
  font-size: 1.7em;
  height: 1.5em;
  padding-top: 0.25em;
  margin-left: 10px;
  text-align: center;
  width: 1.5em;
}
.fa-microphone {
  color: black;
  font-size: 1.7rem;
}
#buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 30px;
}
.button {
  padding-right: 30px;
  font-size: 2rem;
}

/* PRIMARY SECTION STYLES */
#page-manager {
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  background-color: #f9f9f9;
}
#columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1754px;
  min-width: 1225px;
  margin: 0 auto;
}
#primary {
  display: block;
  flex: 1;
  font-family: "Roboto", "Arial", sans-serif;
  max-width: 1301;
  min-width: 853px;
  margin-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
}
/* VIDEO PLAYER STYLES */
#player {
  position: relative;
}
#video-container {
  display: block;
  width: 100%;
  height: 100%;
}
/* VIDEO INFO STYLES */
#info-container {
  padding-top: 20px;
  padding-bottom: 8px;
}
#hashtags {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 15px;
  word-break: break-word;
}
#hashtags a {
  color: #2a9aed;
}
#info-contents {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#info-container h1 {
  color: #030303;
  font-size: 1.8rem;
  font-weight: 400px;
  line-height: 2.6rem;
  max-height: 5.2rem;
}
#info {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 4rem;
  justify-content: space-between;
}
#info-text {
  color: #606060;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
  max-height: 2rem;
}
#view-count,
#upload-date {
  display: inline-block;
}
#menu {
  top: 4px;
  display: flex;
  flex-direction: row;
}
.inner-info-menu {
  color: #030303;
  margin-right: 20px;
  vertical-align: middle;
}
.info-menu-link {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.info-menu-link span {
  padding-left: 6px;
}
#inner-info-ellipsis {
  font-size: 1.6rem;
  margin-right: 8px;
}
.fas span {
  font-weight: 400;
}

/*VIDEO DESCRIPTION STYLES */
#description-content {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
  padding-bottom: 16px;
}
#user-profile {
  margin-bottom: 12px;
  padding-top: 16px;
  display: flex;
  flex-direction: row;
}
#user-profile-pic {
  background-color: #00579c;
  border-radius: 50%;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  height: 48px;
  padding-top: 14px;
  text-align: center;
  width: 48px;
}
#user-name-details {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
}
#user-name {
  display: flex;
  flex-direction: row;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 500;
  align-self: flex-start;
}
#user-subscribe-count {
  color: #606060;
  margin-right: 4px;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 400;
}
#subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cd3b31;
  width: 110px;
  height: 36px;
}
#subscribe-btn {
  background-color: #cd3b31;
  border: none;
  color: white;
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  cursor: pointer;
}

/*COMMENT SECTION STYLES */
#inner-comment-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  margin-top: 24px;
}
#comment-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;
}
#comment-title h2 {
  font-size: 16px;
  display: inline-block;
  margin: 0 20px 0 0;
  align-self: flex-start;
}
#comment-sort {
  margin-top: -3px;
}
#sort-icon {
  font-size: 1.7rem;
  margin-right: 15px;
  margin-left: 10px;
}
#sort-text {
  color: #030303;
  letter-spacing: 0.5px;
  line-height: 2.2rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
}
#comment-box {
  background: transparent;
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
  align-items: flex-start;
}
.author-thumbnail {
  background-color: #00579c;
  border-radius: 50%;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.9rem;
  height: 40px;
  padding-top: 10px;
  text-align: center;
  width: 40px;
}
#comment-input {
  cursor: text;
  background: transparent;
  padding-bottom: 4px;
  flex: 1;
  margin-left: 16px;
}
#comment {
  border: none;
  flex: 1;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
  height: 25px;
  background: transparent;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  word-break: break-all;
  margin-bottom: 10px;
}

.comment-body {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  max-width: 1280px;
}
.comment-main {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 20px;
}
.comment-main-header {
  margin-bottom: 2px;
}
.header-author {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.header-author-name {
  color: #030303;
  margin-right: 4px;
  margin-bottom: 2px;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.8rem;
}
.comment-date span {
  color: #606060;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 400;
}
.comment-main-content {
  color: #030303;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}
.comment-main-buttons {
  color: #606060;
  margin-top: 10px;
  min-height: 16px;
}
#buttons-toolbar {
  color: #606060;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.info-menu-link {
  margin-right: 6px;
  font-size: 1.4rem;
}
#like-count {
  margin-right: 15px;
}
#reply-button {
 text-transform: uppercase;
 font-size: 1.2rem;
 margin-left: 15px;
 font-weight: 500;
}
#action-menu {
  display: flex;
  flex-direction: row;
}
#action-menu-ellipsis {
  margin-top: 10px;
  font-size: 1.8rem;
}