a {
  text-decoration: none;
  color: black;
}
body {
  font-family: "Roboto", sans-serif;
}
/* HEADER STYLES */
header {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  width: 100%;
  z-index: 20;
}
#fa-bars {
  margin-left: 25px;
  font-size: 25px;
  color: black;
}
header span {
  display: inline-block;
  margin-left: 3px;
  font-weight: bold;
}
.header-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header p {
  padding-left: 2px;
  font-size: 19px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-stretch: ultra-condensed;
}
.center {
  margin-left: 30px;
}
.fa-youtube {
  color: red;
  font-size: 30px;
  margin-left: 30px;
}
.fa-microphone {
  color: black;
  font-size: 22px;
}
.microphone {
  background-color: #f9f9f9;
  border-radius: 99px;
  box-sizing: border-box;
  color: #fff;
  font-size: 1.7em;
  height: 1.5em;
  padding-top: 0.25em;
  margin-left: 15px;
  text-align: center;
  width: 1.5em;
}
input {
  border: 1px solid #ccc;
  border-radius: 2px 0 0 2px;
  border-right: none;
  box-shadow: inset 0 1px 2px #eee;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  padding-left: 10px;
  height: 40px;
  width: 550px;
}
.input-search {
  display: flex;
}
.search {
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d3d3d3;
  background-color: #f0f0f0;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
}
.end i {
  font-size: 20px;
  padding-left: 30px;
}

.fa-user {
  padding-right: 40px;
}
/* CONTENT-CONTAINER STYLES */

#content-container {
  justify-content: center;
  display: flex;
  flex-direction: row;
  background-color: #f9f9f9;
  height: 100%;
}

/* VIDEO STYLES */
#primary {
  background: transparent;
  flex: 1;
  padding-top: 22px;
  margin-left: 100px;
}
#video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#video-info {
  margin-left: 25px;
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 20px;
  margin-right: 25px;
}
#info {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
#video-info h1 {
  margin-top: 35px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
#info-text {
  margin-top: 17px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #606060;
  font-size: 14px;
}
#count {
  display: inline-block;
}
#info-string {
  display: inline-block;
}
.info-menu-link span {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  position: relative;
  top: -2px;
  text-transform: uppercase;
  padding-left: 10px;
}

#info-menu {
  display: flex;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  justify-content: space-between;
  align-items: flex-end;
  /* margin-right: 24px; */
  width: 400px;
}

/* SIDE-BAR STYLES */
#secondary {
  background: transparent;
  padding-top: 20px;
  max-width: 480px;
  padding-right: 30px;
}
.related-thumbnail {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-bottom: 10px;
}
.related-thumbnail button {
  border-radius: 16px;
  background-color: #e0e0e0;
  border: 1px solid rgb(0, 0, 0, 0.1);
  box-sizing: border-box;
  color: #030303;
  min-width: 12px;
  height: 32px;
  padding: 0 12px;
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.2px;
  margin-right: 10px;
}
#all {
  background-color: black;
  color: white;
  margin-left: 10px;
}
.thumbnail-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  padding-right: 2px;
  padding-bottom: 10px;
}

.thumbnail-details h3 {
  padding-bottom: 20px;
  line-height: 1.4em;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.thumbnail-details p {
  color: #606060;
  font-size: 12px;
  padding-bottom: 5px;
}

.thumbnail-content {
  padding-left: 5px;
}
